.head-exp{
  text-align: left;
  padding: 20px;
  margin: 0px;
}
.container-aboutme{
  margin: 0px;

}
.card-exp{
  width : 90%;
  background-color: #fafafa;
  height: 250px;
  line-height: 30px;  
}
.name-ex{
  letter-spacing: .1em;
  font-weight: 600;
  font-size: 1.5em;
  color: rgb(4, 70, 124);
}
.lang-ex{
  color: rgb(182, 182, 182);
  font-size:0.9em;
  font-weight: 100;

}
.detail-ex{
  font-weight: 100;
  font-size: 15px;
}
.img-ex{
  display: flex;
  align-items : center;
  width : 40%;
  /* height: 80%;   */
  padding: 1% 

}
.hr-ex{
  width: 90%;
  background-color: rgb(236, 235, 235);
  height: 1px;
  margin: auto;
}
.shadow-img{
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
  height:auto;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .detail-ex, .lang-ex{
    font-size: 0.8em;    
  }
  .name-ex{
    font-size: 1.1em;    
  }
  .card-text-exp{
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 0px !important;
    padding-top: 10px !important;
  }
  .card-exp{
    display: inline !important;
  }
  .img-ex{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 20px;

  }
}