.container-about{
    text-align: left;
    line-height: 30px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .container-about{
        font-size: 0.8em;
        width: 80% !important;
    }
  }